@media only screen and (max-width: 1000px) {
  /*if it is 1000px change the font to 12 pt and so on for each resolution you need.*/
  .centered {
    font-size: 12pt !important;
  }
}
@media only screen and (max-width: 800px) {
  /*if it is 800px change the font to 11 pt and so on for each resolution you need.*/
  .centered {
    font-size: 11pt !important;
  }
}
@media only screen and (max-width: 600px) {
  .centered {
    font-size: 10pt !important;
  }
}
@media only screen and (max-width: 400px) {
  .centered {
    font-size: 9pt !important;
  }
}
@media only screen and (max-width: 200px) {
  .centered {
    font-size: 8pt !important;
  }
}

.centered {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 14pt;
}
